/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background: url("https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg?cs=srgb&dl=pexels-pixabay-315938.jpg&fm=jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
}

a {
    cursor: pointer;
}

/* Loader */

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* TABLE*/
.table thead {
    font-size: large;
    color: rgb(255, 255, 255);
}

.table td {
    color: rgb(245, 245, 64);
}

.table .btn-danger {
    margin-left: 10px;
}

.tableDiv {
    border-radius: 10px;
    background-color: rgba(89, 87, 87, 0.605);
}

/* COLORS */

.companies {
    color: #f7ef00;
}

.company {
    color: white;
}

/* NAVBAR
  -------------------------------------------------- */

.navigation {
    margin-bottom: 20px;

}

.navbar {
    filter: drop-shadow(.5rem .5rem 1rem rgb(34, 65, 189));
    background-color: rgba(38, 38, 38, 0.564);
}

.navbar>.container-fluid {
    justify-content: flex-start;
}

.dropdown-item:hover {
    background-color: rgba(0, 125, 154, 0.625);
}

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.profileImage {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile {
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(.5rem .5rem 1rem rgb(129, 131, 140));
}

.profile:hover {
    animation: highlight 1s forwards;
}

@keyframes highlight {
    0% {}

    100% {
        background-color: rgba(255, 255, 255, 0.55);
        opacity: 1.0;
        color: black;
        box-shadow: 5px 5px 5px rgb(1, 130, 177);
    }
}

.col-lg-4 {
    display: flex;
    justify-content: center;
}

/* CREATE PAGE*/

.createPage {
    background-color: rgba(96, 96, 96, 0.831);
    border-radius: 10px;
    padding: 10px;
    min-width: 450px;
    max-width: 700px;
}


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

/* Company.js */


.companyPage {
    background-color: rgba(1, 130, 177, 0.605);
    padding: 20px;
}

.companyPage .mainLogo img {
    width: 300px;
    height: 300px;
}

textarea {
    height: 200px;
}

.myButton {
    box-shadow: inset 0px 0px 2px 0px #b19896;
    background: linear-gradient(to bottom, #bf3026 5%, #8c1b10 100%);
    background-color: #9d2d25;
    border-radius: 6px;
    border: 1px solid #694b49;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 13px;
    margin: 6px 0 0 35px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #54130e;
    width: 5%;
    height: 10%;
}

.myButton:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButtonEdit {
    box-shadow: inset 0px 0px 2px 0px #b19896;
    background: linear-gradient(to bottom, #1d3557 5%, #457b9d 100%);
    background-color: #254b9d;
    border-radius: 6px;
    border: 1px solid #6e90ac;
    color: white;
    text-decoration: none;
    text-shadow: 0px 3px 0px #4b6576;
}

.myButtonEdit:hover {
    background: linear-gradient(to bottom, #a8dadc 5%, #457b9d 100%);
    background-color: #254b9d;
}


.companyAll {
    display: flex;
    align-items: center;
    width: 90%;
}

.companyImage {
    border-radius: 22%;
    width: 260px;
    height: 250px;
    margin: 21px 0 0 150px;
}

.companyName {
    font-size: 280%;
    margin-left: 55px;
    color: #08eef2;
    font-weight: bolder;
}

.companyCountry {
    font-size: 200%;
    margin-left: 55px;
    color: #00eff4;
}

.companyDescription {
    color: #f1faee;
    font-size: 130%;
    margin-left: 55px;
}

.carsInfo {
    color: #f1faee;
    margin: 70px 0 0 90px;
    display: inline-block;
    background-color: #4c7d9b;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.44);
    width: 190px;
    height: 200px;
    text-align: center;
}



.companyChild {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10%;
    margin: 20px;
}

.childImage:hover {
    cursor: pointer;
}

.childName {
    color: #a8dadc;
    font-weight: bold;
    margin-left: 1.9em;
}

.childImage {
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.childProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------------- */

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}